*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #193f63;
  color: white;
}
h1 {
  position: fixed;
  top: 15px;
  left: 0;
  height: 70px;
  width: 100%;
  text-align: center;
  line-height: 70px;
  font-size: 50px;
}
#container {
  height: calc(100vh - 70px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#container i {
  font-size: 50px;
  max-width: 1040px;
  margin: 0 auto;
  cursor: pointer;
}
#container .calendario {
  width: 80%;
}
#container .calendario ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
#container .calendario ul li{
  width: 120px;
  height: 70px;
  border: 1px solid white;
  text-align: center;
  line-height: 30px;
}
#container .calendario ul li span {
  display: block;
  line-height: 20px;
}
.calendario > div {
  display: none;
}
.calendario > div.active {
  display: block;
}
